/* global */
section{
    padding: 30px 30px;
    background-color: /*#fefee2*/#f1f1ad;
    display: flex;
    flex-direction: column;
}

/* informations */
h1{    
    display: block;
    justify-self: center;
    margin: auto;
}
.scene_carrousel{
    margin: auto;
    height: 500px;
    width: 500px;
}
.container_map{
    width: 100%;
    display: flex;
    justify-content: center;
}